<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-box p-3">
        <h1>Add a new Flat</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
